<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kitty Clicker</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>

    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="/build/angular-training.js"></script>
</head>
<body ng-app="app">

<div class="container" ng-controller="kittyController as model">
{{mainIndex}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" >{{kittys[mainIndex].name}} <span class="badge">{{kittys[mainIndex].clickCount}}</span></h3>
        </div>
        <div class="panel-body">
            <img ng-src="{{kittys[mainIndex].src}}" ng-click="kittyClick(kittys[mainIndex])" height="400" width="400"/>

        </div>
    </div>

    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Click count</th>
                <th>Avatar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cat in kittys track by $index | orderBy:'name'">
                <td><h2 ng-click="kittyNameClick( $index )">{{cat.name}}</h2></td>
                <td>{{cat.clickCount}}</td>
                <td><img ng-src="{{cat.src}}" ng-click="kittyClick(cat)" height="100" width="100"/></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>